<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Vision")}</%block>

<section class="container about">
<div>
<h1>${_("Vision")}</h1>
<h2>ネット受講しやすい講義動画</h2>
<p>
fmoocでは、まず講師による講義動画を視聴します。講義動画は、ネットで集中して学べるよう工夫して作られています。動画の長さは10分程度ですので、ご自分の生活リズムや環境に合わせて、パソコン、スマートフォン、タブレットなどで学ぶことができます。</p>
<h2>クイズで理解度を確認</h2>
<p>
講義動画を見るだけではなく、理解度を確認するためのクイズが用意されている講座もあります。間違えた場合は、繰り返し講義動画を視聴し直して、しっかりと内容を理解した上で次に進むのがおススメの学び方です。
</p>
<h2>学びを深め、広げるディスカッション</h2>
<p>
動画やクイズで理解できないことがあったら、掲示板に質問してみましょう。他の受講者とディスカッションすることによって、学びが深まり、同じ興味を持つ仲間もできます。先生やサポートスタッフも見守ってくれます。</p>
<h2>新たな気づきを得る － 相互採点 </h2>
<p>
fmoocのいくつかの講座では、レポート課題がでます。多くの受講生がいるため、レポートは先生ではなく、受講生同士で採点し合います。自分のレポートを提出するだけなく、他の受講生のレポートを採点することで、自分とは異なる考え方に接したり、新たな気付きを得たりすることができます。</p>
</div>
</section>

